<div id="certificate">
  <center>
    <div id="image">
      <%= image_tag('cap.png') %>
    </div>
    <div id="header">
      <h1>OLD APOSTOLIC CHURCH</h1>
      <h3>KHAYALOXOLO CONGREGATION</h3>
    </div>
    <div id="body">
      <h4>Elder Mkhafuli</h4>
      <p>Hereby Awards this certificate to: </p>
      <p id="name">Lunga Sizani</p>
      <p id="explanation">In recognition of their completion of a Higher Learning Qualification. </p>
    </div>
    <div id="footer">
      <p id="signed"> Signed On this ___ day of _________ in ______. Signature ___________________________</p>
    </div>
  </center>
</div>

<%= link_to 'Generate', certificates_path %>