/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Alex Brush';
  src: font-url('AlexBrush-Regular.ttf');
}
#name{
    //font-family: 'Alex Brush';
    font-size: 40px;
    text-decoration: underline;
}

#certificate {
    align-content: center;
    font-family: Arial;
    border: 5px double black;
    padding: 15px;
}

#header{

}

#explanation{
  font-style: italic;
}

img {
  height: 200px;
  width: 400px;
}

